@import '~antd/lib/style/themes/default.less';
//index-sider
:global {
  //.ant-menu-item {
  //  a {
  //    span {
  //      color: #346d9c;
  //    }
  //  }
  //}
  .ant-layout-sider-children {
    .ant-menu-dark .ant-menu-inline.ant-menu-sub {
      box-shadow: none;
    }
  }

  .ant-layout {
    .ant-layout-header {
      height: 32px;
      line-height: 32px;
    }
  }

  //自定义表格
  .self-table {
    .ant-table-thead > tr > th {
      color: white;
      background-color: @primary-color;
    }
    .ant-table-tbody {
      .ant-table-row {
        &:nth-child(2n) {
          background-color: #D8DADC;
        }
      }
    }
    .ant-table-thead > tr.ant-table-row-hover > td, .ant-table-tbody > tr.ant-table-row-hover > td, .ant-table-thead > tr:hover > td, .ant-table-tbody > tr:hover > td {
      background: none;
    }
  }

  //拓展头部
  .self-header {
    height: 100px;
    display: flex;
    background-color: @primary-color;
    color: white;
    .self-img {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 150px;
      img {
        width: 60px;
        height: 60px;
        display: block;
      }
    }
    .self-title {
      font-size: 20px;
      font-weight: bold;
      letter-spacing: 2px;
      display: flex;
      align-items: center;
      margin: 0;
      flex: 1;
    }
    .self-module-con {
      display: flex;
      flex: 2;
      position: relative;
      max-width: 650px;
      .self-out-con {
        display: flex;
        flex-wrap: wrap;
        z-index: 999;
        position: absolute;
        background-color: fade(@primary-5, 50%);
        height: 100px;
        overflow: hidden;
        &:hover {
          height: auto;
        }
        .self-module-item {
          flex-wrap: wrap;
          cursor: hand;
          cursor: pointer;
          padding: 15px 0;
          width: 130px;
          display: flex;
          flex-direction: column;
          align-items: center;
          .self-module-title {
            text-align: center;
            margin: 0;
            line-height: 35px;
          }
        }
      }
    }
  }

  //统计表格底部
  .self-footer {
    .self-footer-text {
      text-align: right;
    }
  }

  //统计表格
  .self-table-header {
    background-color: @primary-color;
    color: white;
    font-weight: bold;
    text-align: center;
    border-radius: 4px 4px 0 0;
    line-height: 60px;
    font-size: 20px;
    letter-spacing: 4px;
  }
  .self-table {
    .ant-table.ant-table-bordered .ant-table-title {
      padding: 0;
    }
  }

  //统计表格更换
  .self-table-change {
    .self-table-text {
      display: flex;
      justify-content: flex-end;
      .self-table-item {
        padding: 0 10px;
        cursor: pointer;
        cursor: hand;
        &:last-child {
          padding-left: 0px;
        }
      }
    }
  }

  //图标标题
  .self-chart-title {
    text-align: center;
    color: @primary-color;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  //搜索框
  .self-search-container {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #ccc;
    background-color: white;
    padding: 20px 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    .self-inner-search {
      flex: 1;
    }
    .self-button-con {
      width: 150px;
      display: flex;
      justify-content: space-around;
      align-items: flex-end;
    }
  }

  //步骤条
  .self-step-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    .self-step-text {
      margin: 0;
      line-height: 16px;
      > span {
        color: red;
      }
    }
  }

  //tabs高度更改
  .self-tabs.ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-nav-container {
    height: auto;

  }

  //自定义的表格
  .self-form-container {
    .ant-col-24 {
      border: 1px solid #aed0ea;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .ant-col-12 {
      border: 1px solid #aed0ea;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  //时间轴
  .self-timeline-container {
    .time-color-container {
      display: flex;
      .color-block {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        margin: 0 5px 0 15px;
        &.grey-block {
          background-color: grey;
        }
        &.green-block {
          background-color: green;
        }
        &.dark-block {
          background-color: darkred;
        }
        &.purple-block {
          background-color: purple;
        }
        &.red-block {
          background-color: red;
        }
        &.black-block {
          background-color: black;
        }
      }
    }
    .ant-timeline-item-tail {
      left: 9px;
    }
    .ant-timeline-item-head {
      width: 20px;
      height: 20px;
    }
    .ant-timeline-item-content {
      padding: 5px 0 0 30px;
    }
    .self-time-card {
      background-color: white;
      border-radius: 5px;
      padding: 10px;
      &:before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border: 8px solid transparent;
        border-right-color: white;
        left: 15px;
        top: 10px;
      }
    }
  }

  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed,
  figure, figcaption, footer, header, hgroup,
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section {
    display: block;
  }
  body {
    line-height: 1;
  }
  ol, ul {
    list-style: none;
  }
  blockquote, q {
    quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
}
